.nav-button, .nav-button-unused, .about{
    padding: 10px;
    color: #636466;
    font-weight: bold;
}

.nav-button-unused {
    cursor: not-allowed;
}

.title-nav-button{
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: red;
    font-weight: bold;
}

.home-nav-button{
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: #636466;
    font-weight: bold;

}

.nav-button:hover, .home-nav-button:hover, .nav-button-unused:hover, .about:hover{
    color: red;
    border-bottom: 2px solid red;
    background-color: rgb(248, 248, 248);
}

.add-question-nav-button-block{
    padding: 10px;
}

.add-question-nav-button{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: red;
    color: white;
    border-radius: 100px;
    font-weight: bold;
}

.nav-bar-buttons{
    display: flex;
    justify-content: center;
}

.nav-bar-block {
    display: block;
    background-color: white;
    border-bottom: 1px solid;
    box-shadow: 0 3px 6px rgba(0,0,0,0.04);
}

.user-profile-img {
    width: 50px;
    height: 50px;
}

.about:hover .about-dropdown{
    display: block;
}

.about-dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 17px;
    background-color: white;
}

.about-dropdown .about-dropdown-link {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.about-dropdown .about-dropdown-link:hover {
    background-color: lightgray;
}

.about-dropdown-link {
    width: 50px;
    height: 50px;
}