.nav-button{
    // display: inline-block;
    padding: 5px;

    // Remove the colors later
    background-color: red;
    color: white;
}

.nav-bar-buttons{
    display: flex;
    justify-content: center;
}

.nav-bar-block {
    display: block;
    background-color: white;
}