.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// ^ The above is only for the Modal component

.question-form {
    background-color: #f7f7f8;

    box-sizing: border-box;
    min-height: 400px;
    max-height: 80vh;
    max-width: 90vw;
    width: 620px;
    border-radius: 8px;
}

.question-guidelines {
    color: #2e69ff;
    background-color: rgb(217, 221, 252);
    margin: 30px;
    padding: 10px;
}

.question-guidelines-label{
    font-weight: bolder;
}

.question-guidelines-list {
    padding: 10px;
    list-style: inside;
}

.question-create-title {
    color: #b92b27;
    border-bottom: 3px solid #b92b27;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.question-create-share {
    padding: 30px;
    cursor: not-allowed;
}

.question-create-share:hover {
    color: #b92b27;
}

.question-create-title-block {
    display:flex;
    justify-content: space-between;
}

.question-create-title-bar{
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.question-create-x {
    text-align: center;
    margin: 15px;
    padding: 5px;
    width: 25px;
    //background-color: red; // for testing only
}

.question-create-x:hover {
    background-color: lightgrey;
    border-radius: 50%;
}

.question-body-input-box {
    display: block;
    font-size: 15px;
    padding: 3px 7px 4px 7px;
    margin: 30px;
    width: 90%;
}

.question-create-buttons-block{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.question-create-submit-button{
    background-color: #2e69ff;
    color: white;
    padding: 7px 20px;
    border-radius: 1000px;
    margin-left: 10px;
    margin-right: 20px;
}

.question-create-submit-button:hover {
    background-color: #185aff;
}

.question-create-cancel-button, .question-create-cancel-button-unused{
    padding: 7px 15px;
}

.question-create-cancel-button:hover, .question-create-cancel-button-unused:hover{
    background-color: lightgrey;
    border-radius: 1000px;
}

.question-create-cancel-button-unused {
    cursor: not-allowed;
}

.question-item-buttons{
    display: flex;
}

.question-edit-title-block{
    padding-left: 30px;
}

.question-edit-title {
    font-weight: bold;
}

.user-ask-label{
    padding-left: 30px;
    font-weight: bold;
}