html, body {
    font-family: -apple-system, sytem-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

input[type=text], input[type=email], input[type=password] {
    min-height: 27px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    border-color: blue;
}

.first-name-label {
    margin-right: 55px;
}

.first-name-input-box{
    margin-right: 5px;
}

.first-name-input-box, .last-name-input-box {
    width: 100px;
    margin-bottom: 10px;
}

.input-label, .name-labels {
    font-size: 11px;
    color: #666;
    display: block;
    //font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-box, .login-input-box, .login-password-box {
    display: block;
    font-size: 15px;
}

.input-box, .login-input-box{
    margin-bottom: 20px;
}

.login-input-box input, .login-password-box input, .input-box, .first-name-input-box, .last-name-input-box {
    padding: 3px 7px 4px 7px;
}

.login-input-box input, .login-password-box input{
    background-color: rgb(238, 238, 238);
}

.input-box{
    width: 93%;
}

.login-password-box{
    margin-bottom: 7px;
}

.session-form-header {
    height: 100px;
    margin-bottom: 20px;
}

.session-form {
    display: block;
    padding: 25px;
}

.session-errors {
    display: flex;
    justify-content: center;
}

.session-inner-errors {
    width: 300px;
    text-align: center;
    padding: 8px;
    border: 1px solid #b92b27;
    color: #b92b27;
    border-radius: 4px;
    font-size: 13px;
}

.signup-submit-block {
    display: flex;
    justify-content: space-between;
}

.login-submit-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.forgot-password-link {
    color: #949494;
    font-size: 13px;
    cursor: not-allowed;
}

.forgot-password-link:hover {
    text-decoration: underline;
}

.session-title {
    display: block;
    font-size: 13px;
    font-weight: bold;
    //font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    color: #333;
    height: 100%;
    margin-bottom: 10px;
}

.main-session-forms {
    display: flex;
    justify-content: center;
    //font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.app-title {
    text-align: center;
    font-size: 50px;
    color: #bd2a2a;
    font-family: 'Noticia Text', serif;
    font-weight: bolder;
}

.app-description {
    font-size: 19px;
    font-weight: 400;
    //font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    color: #949494;
    text-align: center;
    margin: 8px 0 32px;
}

.submit-button, .demo-login-button{
    font-weight: bolder;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background: #3e78ad;
    border: 1px solid #3a66ad;
    border-radius: 3px;
    padding: 3px 7px 4px 7px;
    display: inline-block;
    opacity: .5;
}

.submit-button:hover, .demo-login-button:hover {
    opacity: 1;
}

.session-form-background {
    background-image: image-url("home_background.png");
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.session-center-block {
    background-color: white;
    width: 650px;
    height: 580px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 25px;
    border: 1px solid #e2e2e2;
    box-shadow: 0 0 5px #888;
    border-radius: 4px;
    font-family: sans-serif;
}