.input-box {
    display: block;
    font-size: 15px;
    //font-size: 11px;
}

.input-box input {
    padding: 3px 7px 4px 7px;
}

.session-form-header {
    height: 100px;
}

.session-form {
    display: block;
    padding-left: 20px;
}

.session-title {
    display: block;
    font-size: 20px;
    //font-size: 13px;
    font-weight: bold;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    color: #333;
    height: 100%;
}

input[type=text], input[type=email], input[type=password] {
    min-height: 27px;
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
}

.main-session-forms {
    display: flex;
    justify-content: center;
}

.app-title {
    text-align: center;
    font-size: 50px;
    color: red;
}

.app-description {
    font-size: 19px;
    font-weight: 400;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    color: #949494;
    text-align: center;
    margin: 8px 0 32px;
}

.submit-button, .demo-login-button {
    font-weight: 500;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background: #3e78ad;
    border: 1px solid #3a66ad;
    border-radius: 3px;
    padding: 3px 7px 4px 7px;
    display: inline-block;
}