.user-show-profile-img {
    width: 130px;
    height: 120px;
}

.user-info-block, .user-questions-block {
    display: flex;
    justify-content: center;
}

.user-profile-name {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.user-questions-list{
    display: inline-block;
    overflow: auto;
    height: 600px;
}

.user-questions-item {
    background-color: white;
    width: 500px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 8px;
    margin-right: 10px;
    border-bottom: 1px solid black;
}

.user-questions-number {
    font-weight: bold;
    font-size: 20px;
    padding-left: 15px;
}

.user-questions-number-block {
    width: 536px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.user-questions-number:hover {
    text-decoration: underline;
}